.LabItem {
  transition: opacity var(--transition-defaults);
  width: 50%;
  max-width: 500px;
  padding: 0.5rem;

  a {
    text-decoration: none;
  }

  img {
    border-radius: var(--rounding-medium);
    aspect-ratio: 1;
    object-fit: cover;
  }

  &:hover {
    opacity: 0.8;
  }

  span {
    display: inline-block;
    padding: 0.5rem;
  }
}
