.item {
  width: 30rem;
  background: var(--color-accent);
  min-height: 400px;
  display: grid;
  place-items: center;
  border-radius: var(--rounding-medium);
  overflow: hidden;

  img,
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    pointer-events: none;
    user-select: none;
  }
}
