:global(.dark) .SocialLinks a img {
  filter: none;
}

.SocialLinks {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 1000px) {
    min-width: 300px;
  }
  .item {
    padding: 0.6rem;
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    background-color: rgba(var(--color-text-rgb), 0);
    transition: background-color var(--transition-defaults);
    text-decoration: none;
    position: relative;

    &::after {
      font-family: "Satoshi", sans-serif;
      font-weight: 600;
      content: "↗";
      display: inline-block;
      position: absolute;
      right: 1rem;
      opacity: 0;
      transition: opacity var(--transition-defaults);
    }

    &:hover {
      background-color: rgba(var(--color-text-rgb), 0.1);
      &::after {
        opacity: 1;
      }
      span,
      img {
        transform: translateX(0.6em);
      }
    }

    &:active {
      background-color: rgba(var(--color-text-rgb), 0.05);

      span,
      img {
        transform: translateX(0.5em);
      }
    }

    img {
      width: 1.2em;
      height: 1.2em;
      vertical-align: middle;
      opacity: 0.8;
      transition: transform var(--transition-defaults),
        opacity var(--transition-defaults), filter var(--transition-defaults);
      filter: invert(1);
    }
    span {
      color: var(--color-text) !important;
      transition: transform var(--transition-defaults),
        color var(--transition-defaults);
      display: inline-block;
      opacity: 1;
      top: 50%;
      right: 2.2em;
      text-align: right;
      pointer-events: none;
      font-size: 0.9rem;
      white-space: nowrap;
      padding: 0.3rem 0.5rem;
    }
  }
}
