.SocialLinks {
  display: flex;
  flex-direction: row;
  gap: 0.1rem;

  & a {
    padding: 0.2rem 0.5rem;
    border-radius: var(--rounding-small);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    opacity: 0.8;

    &:hover {
      text-decoration: none;
      opacity: 1;
    }
  }

  & svg {
    width: 1em;
    height: 1em;
  }

  & path {
    fill: var(--color-text);
  }

  & svg[fill="none"] path {
    fill: none;
    stroke: var(--color-text);
  }

  & svg[fill="none"] circle {
    fill: var(--color-text);
  }
}
