.SocialLinks {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  padding-top: 1rem;

  & a {
    padding: 0.2rem 0.5rem;
    border-radius: var(--rounding-small);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }

  & svg {
    width: 1.2rem;
    height: 1.2rem;
  }

  & path {
    transition: fill var(--transition-defaults);
    fill: var(--color-text);
  }
}
