.codeDemo :global(.code-block-wrapper) {
  height: 100%;
}

.codeDemo :global(.code-block-wrapper) > pre[data-theme] {
  height: 100%;
  box-sizing: border-box;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

@media (max-width: 54rem) {
  .codeDemo :global(.code-block-wrapper) > pre[data-theme] {
    border-radius: var(--rounding-medium);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}
