.ThreeTest {
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}

.MeshSelect {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  justify-content: center;

  img {
    cursor: pointer;
    width: 3rem;
    transition: background-color var(--transition-defaults);
    padding: 0.3em;
    border-radius: 0.4em;

    &:hover {
      background-color: rgba(var(--color-text-rgb), 0.15);
    }

    &.selected {
      background-color: rgba(var(--color-text-rgb), 1);
    }

    :global(.dark) &.selected {
      background-color: rgba(var(--color-text-rgb), 0.8);
    }
  }
}
