@import "reset.css";
@import "typography.css";
@import "layout.css";
@import "muser.css";
@import "satoshi.css";
@import "supreme.css";
@import "code.css";

@property --color-bg-rgb {
  syntax: "<number>#";
  inherits: true;
  initial-value: 232, 227, 225;
}

@property --color-text-rgb {
  syntax: "<number>#";
  inherits: true;
  initial-value: 59, 63, 69;
}

:root {
  --transition-defaults: 250ms ease-out;

  --rounding-small: 0.4rem;
  --rounding-medium: 0.6rem;
  --rounding-full: 999px;

  --color-accent: #536bf2;
  --color-link: #475ddc;

  --color-text-rgb: 59, 63, 69;
  --color-text: rgb(var(--color-text-rgb));

  --color-bg-rgb: 232, 227, 225;
  --color-bg: rgb(var(--color-bg-rgb));

  --color-secondary: rgba(var(--color-text-rgb), 0.3);

  transition:
    --color-text-rgb var(--transition-defaults),
    --color-bg-rgb var(--transition-defaults);
}

:root.dark {
  --color-link: #7a8eff;

  --color-text-rgb: 224, 218, 207;
  --color-bg-rgb: 34, 35, 39;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.themed-svg {
  * {
    fill: currentColor;
  }
}

.outlink {
  &::after {
    content: " ↗";
    font-family: "Satoshi";
    font-weight: 800;
    font-size: 0.7em;
    color: rgba(var(--color-text-rgb), 0.4);
  }

  &:hover {
    &::after {
      color: rgba(var(--color-text-rgb), 1);
    }
  }
}

.arrow {
  display: inline-block;
  font-family: "Satoshi";
  font-weight: 500;
  transition: transform var(--transition-defaults);
}

.clickable {
  transition: background-color var(--transition-defaults);
  background-color: rgba(var(--color-text-rgb), 0);
  border-radius: var(--rounding-medium);

  &:hover {
    background-color: rgba(var(--color-text-rgb), 0.1);
    transition-duration: 100ms;
  }

  &:active {
    background-color: rgba(var(--color-text-rgb), 0.05);
  }
}

.inlinePreview {
  display: inline-block;
  height: 1.4em;
  line-height: 1.4em;
  cursor: help;
  color: rgba(var(--color-text-rgb));
  transition: background-color var(--transition-defaults);
  position: relative;
  white-space: nowrap;
  display: inline-block;
  background-color: rgba(var(--color-text-rgb), 0.1);
  padding: 0 0.6em;
  margin: 0.1em 0;
  border-radius: var(--rounding-full);
}

.inlinePreview:hover {
  background-color: rgba(var(--color-text-rgb), 0.2);
  text-decoration: none;
}

.inlinePreview video,
.inlinePreview img {
  display: block;
  position: absolute;
  bottom: -8em;
  right: -8em;
  width: 10rem;
  height: 10rem;
  border-radius: 1rem 5rem 5rem 5rem;
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  transform-origin: 0 0;
  transform: rotate(5deg) scale(0.9);
  transition:
    opacity var(--transition-defaults),
    transform var(--transition-defaults);

  @media (max-width: 40rem) {
    right: -3em;
    bottom: -8.5em;
  }
}

.inlinePreview:hover video,
.inlinePreview:hover img {
  opacity: 1;
  transform: translate(0, 0rem) rotate(0deg);
}

.stats-gl {
  position: absolute;
  top: 100vh;
  right: 0;
  z-index: 1000;
  transform: translateY(-100%);
}
