:root {
  --font-titles: "Manrope Variable", sans-serif;
  --font-body: "Supreme-Variable", sans-serif;

  font-family: var(--font-body);
  font-size: 1.2rem;
  font-weight: 450;
  font-synthesis: none;

  @media screen and (max-width: 40rem) {
    font-size: 1.1rem;
  }
}

::selection {
  background: rgba(var(--color-text-rgb), 0.25);
  /* color: var(--color-bg); */
}

p {
  margin: 0.5rem 0;
  text-wrap: pretty;
}

i {
  font-style: italic;
}

ul,
ol {
  margin-top: 0.5rem;
  padding-inline-start: 1.5rem;
}

li {
  margin-top: 0.3rem;
}

li::marker {
  color: rgba(var(--color-text-rgb), 0.5);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.8em;
  margin-bottom: 0.2em;
  font-family: var(--font-titles);
  font-optical-sizing: auto;
  text-wrap: pretty;
}

h1 {
  font-size: 2.5em;
  line-height: 1.2em;
  font-weight: 600;
  letter-spacing: -0.025em;
}

h2 {
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: -0.02em;
}

h3 {
  font-size: 1.2em;
  font-weight: 800;
  letter-spacing: -0.01em;
}

h4 {
  font-size: 1em;
  font-weight: 800;
}

h5 {
  font-size: 0.85em;
  font-weight: 800;
}

h6 {
  font-size: 0.8em;
  font-weight: 800;
}

blockquote {
  padding-left: 1rem;
  border-left: 2px solid var(--color-secondary);
}

/* Links */
a {
  color: var(--color-text);
  text-decoration: underline;
  text-decoration-color: rgba(var(--color-text-rgb), 0.4);
  text-underline-offset: 0.1em;

  &:hover {
    text-decoration: underline;
  }
}

/* Tables */
table {
  margin-top: 1.5rem;
  border-spacing: 0px;
  border-collapse: collapse;
}
table td,
table th {
  padding: 0.5rem;
  border: 1px solid var(--color-secondary);
}

/* Forms */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="date"],
input[type="time"],
input[type="color"],
input[type="search"],
input[type="tel"],
input[type="url"],
input[type="month"],
input[type="week"],
input[type="datetime"],
input[type="datetime-local"],
input[type="range"],
input[type="file"],
input[type="image"],
button,
.button,
textarea,
select {
  background-color: rgba(var(--color-text-rgb), 0.1);
  padding: 0.3em 0.6em;
  border: 0;
  border-radius: var(--rounding-small);
  vertical-align: middle;
  color: var(--color-text);
  transition: outline var(--transition-defaults);
  outline: 2px solid transparent;

  &:focus {
    outline: 2px solid var(--color-link);
  }

  &:hover {
    background-color: rgba(var(--color-text-rgb), 0.15);
  }
}

button,
.button {
  cursor: pointer;
  background-color: var(--color-accent);
  color: white;
  transition: background-color var(--transition-defaults);
  text-decoration: none;

  &:hover {
    background-color: var(--color-link);
    text-decoration: none;
  }
}

label {
  padding-right: 0.5em;
}

fieldset {
  margin-top: 1.5rem;
  border: 1px solid var(--color-secondary);
  border-radius: var(--rounding-medium);
}

/* Misc */
.description {
  margin-top: 0.3rem;
  opacity: 0.7;
}

figure {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em 0;

  img,
  video {
    border-radius: var(--rounding-small);
    width: 100%;
    object-fit: cover;
  }
}

@media (max-width: 54rem) {
  .grid-wide {
    img,
    video {
      border-radius: 0;
    }
  }
}

figcaption,
.figcaption {
  display: inline-block;
  opacity: 0.5;
  margin: 0.5em;
  font-style: italic;
  max-width: min(60ch, calc(100% - 3rem));
}

code {
  font-size: 0.8rem;
}
