.ProjectList {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    margin: 0;
  }

  li a {
    text-decoration: none;
    display: block;
    padding: 0.5rem;
    border-radius: var(--rounding-small);
    display: flex;
    gap: 0.5rem;
    align-items: flex-start;

    img {
      margin-top: -0.05rem;
    }
  }
}
