.ProjectList {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    margin: 0;
  }

  .projectLink {
    width: 100%;
    align-items: flex-start;

    & svg {
      width: 30px;
      height: 30px;
      flex-shrink: 0;
    }
  }
}
