.ProjectList {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    margin: 0;
  }

  li a {
    text-decoration: none;
    display: block;
    padding: 0.5rem;
    border-radius: var(--rounding-small);
    display: flex;
    gap: 0.5rem;
    align-items: flex-start;

    & svg {
      width: 30px;
      height: 30px;
      flex-shrink: 0;
    }
  }
}
