.container {
  width: 450px;
  height: 550px;
  background-color: black;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-radius: 999px;
  margin: 100px auto;
  padding: 40px 0;
  box-sizing: border-box;
  position: relative;
  color: var(--main-color);
  --main-color: rgb(230, 230, 230);
}

.containerIdle {
  justify-content: center;
}

.containerActive {
  justify-content: flex-start;
}

.time {
  text-align: center;
  margin: 0;

  span {
    vertical-align: 0.1em;
  }
}

.clockLarge {
  font-size: 64px;
}

.clockSmall {
  font-size: 20px;
}

.viewport {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container button {
  background-color: var(--main-color);
  color: black;
  margin: 0.5rem;
  border-radius: 999px;
  padding: 0.5em 1.5em;
  font-weight: 450;
}

.container button:hover {
  background-color: rgb(200, 200, 200);
}

.container button:active,
.container button:focus {
  outline: none;
}
