.MainLogo {
  position: relative;
  top: 0;
  left: 0;
  transition: transform var(--transition-defaults);
  transform: translate(0, 0) scale(1);
  z-index: 100;
  opacity: 1;
  width: 1.6rem;
  padding: 0.2em;
  border-radius: var(--rounding-full) !important;

  &::before {
    content: "";
    transition: opacity var(--transition-defaults);

    display: block;
    position: absolute;
    inset: 0;
    border-radius: var(--rounding-full);
    opacity: 0;
  }

  &:hover::before {
    opacity: 0.1;
  }

  &:active::before {
    opacity: 0.05;
  }

  svg {
    height: 80%;
    margin: auto;
  }

  path {
    fill: var(--color-text);
    opacity: 1;
  }
}

.InlineLogoPlaceholder {
  margin-top: 1rem;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  width: 1.5rem;
  height: 3rem;

  @media screen and (max-width: 40rem) {
    margin-top: 0;
  }
}
