.ThemeToggleDemo {
  --duration: 0s;
  --duration1: calc(var(--duration) * 1);
  --transition-timing: var(--duration) ease-out;
  --border-width: 4px;
  --size: 60px;

  --foreground-rgb: 221, 221, 221;
  --background-rgb: 17, 17, 17;

  --foreground-color: rgb(var(--foreground-rgb));
  --background-color: rgb(var(--background-rgb));

  &.dark {
    --foreground-rgb: 17, 17, 17;
    --background-rgb: 221, 221, 221;
  }
}

.ThemeToggleDemo {
  width: 100%;
  border-radius: var(--rounding-medium);
  background-color: var(--background-color);
  color: var(--foreground-color);
  transition:
    background-color var(--transition-timing),
    color var(--transition-timing);
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  &.animated {
    --duration: 0.4s;
  }
}

.ThemeToggleDemo code[data-theme*=" "] span {
  color: var(--foreground-color);
  transition:
    background-color var(--transition-timing),
    color var(--transition-timing);
}

.ThemeToggleDemo button {
  color: var(--foreground-color);
  background-color: rgba(var(--foreground-rgb), 0.2);
  border: 2px solid rgba(var(--foreground-rgb), 0.2);
  transition:
    color var(--transition-timing),
    background-color var(--transition-timing),
    border-color var(--transition-timing);
  outline: none;
}

.ThemeToggleDemo button:hover,
.ThemeToggleDemo button:focus {
  color: var(--foreground-color);
  outline: none;
  border: 2px solid rgba(var(--foreground-rgb), 0.2);
}

.ThemeToggleDemo button:hover {
  background-color: rgba(var(--foreground-rgb), 0.3);
}

/* ====================== */

.RightSideBG {
  fill: var(--foreground-color);
  transition: fill var(--transition-timing);
}

.LeftSide,
.RightSide {
  transform-origin: center;
}

.LeftSide {
  animation: rotateLeft var(--duration1) ease-out 0s forwards;
}

.RightSide {
  animation: rotateRight var(--duration1) ease-out 0s forwards;
}

.dark {
  .LeftSide {
    animation: rotateLeft1 var(--duration1) ease-out 0s forwards;
  }

  .RightSide {
    animation: rotateRight1 var(--duration1) ease-out 0s forwards;
  }
}

@keyframes rotateLeft {
  0% {
    transform: rotateY(180deg);
    fill: rgba(var(--background-rgb), 0);
  }
  1% {
    fill: var(--foreground-color);
  }
  50% {
    transform: rotateY(180deg);
  }
  98% {
    fill: var(--foreground-color);
  }
  99% {
    transform: rotateY(90deg);
    fill: rgba(var(--background-rgb), 0);
  }
  100% {
    transform: rotateY(180deg);
    fill: rgba(var(--background-rgb), 0);
  }
}

@keyframes rotateRight {
  0% {
    transform: rotateY(90deg);
    fill: var(--foreground-color);
  }
  99% {
    transform: rotateY(0deg);
    fill: var(--foreground-color);
  }
  100% {
    transform: rotateY(90deg);
    fill: var(--foreground-color);
  }
}

@keyframes rotateLeft1 {
  0% {
    transform: rotateY(180deg);
    fill: rgba(var(--background-rgb), 0);
  }
  1% {
    fill: var(--foreground-color);
  }
  50% {
    transform: rotateY(180deg);
  }
  98% {
    fill: var(--foreground-color);
  }
  99% {
    transform: rotateY(90deg);
    fill: rgba(var(--background-rgb), 0);
  }
  100% {
    transform: rotateY(180deg);
    fill: rgba(var(--background-rgb), 0);
  }
}

@keyframes rotateRight1 {
  0% {
    transform: rotateY(90deg);
    fill: var(--foreground-color);
  }
  99% {
    transform: rotateY(0deg);
    fill: var(--foreground-color);
  }
  100% {
    transform: rotateY(90deg);
    fill: var(--foreground-color);
  }
}
