.ThemeToggleDemo {
  --duration: 0s;
  --half-duration: calc(var(--duration) / 2);
  --transition-timing: var(--duration) ease-out;
  --border-width: 4px;
  --size: 60px;

  --foreground-rgb: 221, 221, 221;
  --background-rgb: 17, 17, 17;

  --foreground-color: rgb(var(--foreground-rgb));
  --background-color: rgb(var(--background-rgb));

  &.dark {
    --foreground-rgb: 17, 17, 17;
    --background-rgb: 221, 221, 221;
  }
}

.ThemeToggleDemo {
  width: 100%;
  border-radius: var(--rounding-medium);
  background-color: var(--background-color);
  color: var(--foreground-color);
  transition:
    background-color var(--transition-timing),
    color var(--transition-timing);
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  &.animated {
    --duration: 0.4s;
  }
}

.ThemeToggleDemo code[data-theme*=" "] span {
  color: var(--foreground-color);
  transition:
    background-color var(--transition-timing),
    color var(--transition-timing);
}

.ThemeToggleDemo button {
  color: var(--foreground-color);
  background-color: rgba(var(--foreground-rgb), 0.2);
  border: 2px solid rgba(var(--foreground-rgb), 0.2);
  transition:
    color var(--transition-timing),
    background-color var(--transition-timing),
    border-color var(--transition-timing);
  outline: none;
}

.ThemeToggleDemo button:hover,
.ThemeToggleDemo button:focus {
  color: var(--foreground-color);
  outline: none;
  border: 2px solid rgba(var(--foreground-rgb), 0.2);
}

.ThemeToggleDemo button:hover {
  background-color: rgba(var(--foreground-rgb), 0.3);
}

/* ====================== */

.RightSideBG {
  fill: var(--foreground-color);
  transition: fill var(--transition-timing);
}

.LeftSide,
.RightSide {
  transform-origin: center;
  transition: transform var(--duration) ease-out;
}

.LeftSide {
  fill: var(--foreground-color);
  transform: rotateY(90deg);
  transition:
    transform var(--duration) ease-out var(--half-duration),
    fill 0s ease-out 0s;
}

.RightSide {
  fill: var(--foreground-color);
  transform: rotateY(0deg);
  transition-delay: 0s;
  transition-timing-function: ease-in;
}

.dark {
  .LeftSide {
    fill: rgba(0, 0, 0, 0);
    transform: rotateY(180deg);
    transition:
      transform var(--duration) ease-out 0s,
      fill var(--half-duration) ease-out var(--duration);
  }

  .RightSide {
    fill: var(--background-color);
    transform: rotateY(90deg);
    transition: transform var(--duration) ease-in 0s;
  }
}
