.hero {
  grid-column-start: wide;
  grid-column-end: narrow;
  padding-left: 5rem;
  position: relative;

  h2 {
    margin: 0.8rem 0;
    font-weight: 400;
    text-wrap: balance;
    font-size: 2rem;
    line-height: 1.4;
  }

  @media (max-width: 54rem) {
    padding-left: 0;
  }
}

.introHey {
  cursor: help;
  animation-delay: 0.2s !important;

  .name {
    position: relative;
  }

  .jon,
  .yonatan {
    transition-property: transform, opacity;
    transition-duration: 0.5s;
    transition-timing-function: var(--ease-out-expo);
    position: absolute;
    left: 0.3rem;
  }

  .jon {
    opacity: 1;
    transform: rotateX(0);
  }

  .yonatan {
    opacity: 0;
    transform: rotateX(90deg) translateY(100%);
  }

  &:hover {
    .jon {
      opacity: 0;
      transform: rotateX(90deg) translateY(-100%);
    }

    .yonatan {
      opacity: 1;
      transform: rotateX(0);
    }
  }
}

.fadeIn {
  opacity: 0;
  animation: fadeIn 0.3s ease-in 0.35s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.sectionTitle {
  font-family: var(--font-body);
  font-weight: 500;
  font-size: 1rem;
  font-style: italic;
}

.contactButton {
  position: absolute;
  right: -3rem;
  bottom: 2.5rem;
}

@media (max-width: 54rem) {
  .contactButton {
    position: relative;
    right: 0;
    bottom: 0;
    margin-block: 1rem;
  }
}
