.IntroSection {
  padding: 4rem 4rem 5rem 0;

  @media screen and (max-width: 40rem) {
    padding: 4rem 2rem 5rem 0;
  }

  & h1 {
    line-height: 1em;
    font-size: 1.8rem;
    font-weight: 500;
  }

  & h1 span {
    display: inline-block;
    font-size: 0.8em;
    opacity: 0;
    transform: scale(0.9);
    transform-origin: left;
    transition:
      transform var(--transition-defaults),
      opacity var(--transition-defaults);
    cursor: help;
    line-height: 1rem;

    @media screen and (max-width: 40rem) {
      opacity: 0.6;
      transform: scale(1);
    }
  }

  & h1:hover span {
    opacity: 0.6;
    transform: scale(1);
  }
}

.ProjectItem {
  display: block;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  padding: 0.3rem;
  margin: 0.2rem 0;
  color: var(--color-text);

  &:hover {
    text-decoration: none;
    .info {
      transform: translateX(0.4em);
    }
  }

  &:active {
    .info {
      transform: translateX(0.2em);
    }
  }

  .info {
    transition: transform var(--transition-defaults);
    display: flex;
    flex-direction: column;
    justify-content: center;

    & span {
      opacity: 0.6;
    }
  }
}

.SocialLinks {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  padding-top: 1rem;

  & a {
    padding: 0.5rem;
    border-radius: var(--rounding-full);
  }

  & svg {
    width: 1.2rem;
    height: 1.2rem;
  }

  & path {
    transition: fill var(--transition-defaults);
    fill: var(--color-text);
  }
}
