.intro {
  cursor: help;

  & span {
    display: inline-block;
    font-family: var(--font-body);
    font-weight: 500;
    font-size: 1rem;
    opacity: 0;
    transform: scale(0.9);
    transform-origin: left;
    transition:
      transform var(--transition-defaults),
      opacity var(--transition-defaults);
    line-height: 1rem;

    @media screen and (max-width: 40rem) {
      opacity: 0.5;
      transform: scale(1);
    }
  }

  &:hover span {
    opacity: 0.6;
    transform: scale(1);
  }
}
