.container {
  grid-column: full;
}

.scroller {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  overscroll-behavior-x: contain;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none;
  cursor: grab;
  gap: 1rem;
  padding-inline: 2rem;
}

.scroller::-webkit-scrollbar {
  display: none;
}

.item {
  flex: 0 0 auto;
}
