@property --background-color {
  syntax: "<color>";
  inherits: true;
  initial-value: rgb(17, 17, 17);
}

@property --foreground-color {
  syntax: "<color>";
  inherits: true;
  initial-value: rgb(221, 221, 221);
}

.ColorModeToggleDemo {
  --duration: 0s;
  --transition-timing: var(--duration) ease-out;

  --foreground-rgb: 221, 221, 221;
  --background-rgb: 17, 17, 17;

  transition:
    --background-color var(--transition-timing),
    --foreground-color var(--transition-timing);

  &.dark {
    --foreground-color: rgb(17, 17, 17);
    --background-color: rgb(221, 221, 221);
  }
}

.ColorModeToggleDemo {
  width: 100%;
  border-radius: var(--rounding-medium);
  background-color: var(--background-color);
  color: var(--foreground-color);
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  &.animated {
    --duration: 0.4s;
  }

  &.growing button {
    transform: scale(1);
    color: inherit;
    transition: transform var(--transition-timing);

    &:hover {
      transform: scale(1.1);
    }
  }
}

.ColorModeToggleDemo button,
.ColorModeToggleDemo button:hover,
.ColorModeToggleDemo button:focus {
  background: rgba(128, 128, 128, 0.01);
  border: 2px solid rgba(128, 128, 128, 0.2);
  outline: none;
  transition:
    background-color var(--transition-timing),
    border var(--transition-timing);
}

.ColorModeToggleDemo button:hover {
  background: rgba(128, 128, 128, 0.1);
  border: 2px solid rgba(128, 128, 128, 0.3);
}

/* ====================== */

.RightSideBG {
  --duration: 0s;
  fill: var(--foreground-color);
  transform-origin: center;
  transform: scale(1.1); /* to hide the seam */
}

.LeftSide,
.RightSide {
  fill: rgb(221, 221, 221);
  transform-origin: center;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  animation-duration: var(--duration);
}

.LeftSide {
  animation-name: rotateLeft;
  animation-direction: normal;
}

.RightSide {
  animation-name: rotateRight;
  animation-direction: normal;
}

.dark {
  .LeftSide {
    animation-name: rotateLeftDark;
  }

  .RightSide {
    animation-name: rotateRightDark;
  }
}

@keyframes rotateLeft {
  0% {
    transform: rotateY(180deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(90deg);
  }
}

@keyframes rotateRight {
  0% {
    transform: rotateY(90deg);
  }
  50% {
    transform: rotateY(0deg);
  }
  99% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(90deg);
  }
}

@keyframes rotateLeftDark {
  0% {
    transform: rotateY(90deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  99% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(90deg);
  }
}

@keyframes rotateRightDark {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(90deg);
  }
}
