.ColorModeCover {
  padding: calc(var(--nav-height) + 1rem) 1rem 2rem;

  --moon-bg-color: #3a4055;

  background-color: var(--moon-bg-color);
}

.RightSide,
.LeftSide {
  transform-origin: center;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  animation-duration: var(--duration);
}

.LeftSide {
  transform: rotateY(180deg);
}

.MoonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
