@property --background-color-prop {
  syntax: "<color>";
  inherits: true;
  initial-value: rgb(17, 17, 17);
}

@property --foreground-color-prop {
  syntax: "<color>";
  inherits: true;
  initial-value: rgb(239, 239, 239);
}

.ColorModeToggleDemo {
  --duration: 0s;
  --transition-timing: var(--duration) ease;

  transition:
    background-color var(--transition-timing),
    color var(--transition-timing),
    --background-color-prop var(--transition-timing),
    --foreground-color-prop var(--transition-timing);

  --foreground-color: rgb(239, 239, 239);
  --background-color: rgb(17, 17, 17);

  --foreground-color-prop: rgb(239, 239, 239);
  --background-color-prop: rgb(17, 17, 17);

  &.dark {
    --foreground-color: rgb(17, 17, 17);
    --background-color: rgb(239, 239, 239);

    --foreground-color-prop: rgb(17, 17, 17);
    --background-color-prop: rgb(239, 239, 239);
  }

  min-height: 200px;
}

.ColorModeToggleDemo {
  flex: 1;
  width: 100%;
  border-radius: var(--rounding-medium);
  background-color: var(--background-color);
  color: var(--foreground-color);
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  &.animated {
    --duration: 0.4s;
  }

  button,
  button:hover,
  button:focus {
    color: inherit;
    background-color: rgba(128, 128, 128, 0.1);
    border: 2px solid rgba(128, 128, 128, 0.3);
    outline: none;
  }

  .InvertedButton,
  .InvertedButton:hover,
  .InvertedButton:focus {
    border: none;
    background-color: var(--foreground-color);
    color: var(--background-color);

    opacity: 0.5;
    transform: scale(1);
    transition:
      opacity 150ms ease,
      transform 150ms ease;
  }

  .InvertedButton:hover {
    opacity: 1;
    transform: scale(1);
  }

  .InvertedButton:active {
    transform: scale(0.95);
  }

  .InvertedButton.useAtProp,
  .InvertedButton.useAtProp:hover,
  .InvertedButton.useAtProp:focus {
    background-color: var(--foreground-color-prop);
    color: var(--background-color-prop);
  }
}
/* ====================== */

.RightSideBG {
  fill: currentColor;
  transform-origin: center;
  transform: scale(1.1); /* to hide the seam */
}

.LeftSide,
.RightSide {
  fill: rgb(221, 221, 221);
  transform-origin: center;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  animation-duration: var(--duration);
}

.LeftSide {
  animation-name: rotateLeft;
  animation-direction: normal;
}

.RightSide {
  animation-name: rotateRight;
  animation-direction: normal;
}

.dark {
  .LeftSide {
    animation-name: rotateLeftDark;
  }

  .RightSide {
    animation-name: rotateRightDark;
  }
}

@keyframes rotateLeft {
  0% {
    transform: rotateY(180deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(90deg);
  }
}

@keyframes rotateRight {
  0% {
    transform: rotateY(90deg);
  }
  50% {
    transform: rotateY(0deg);
  }
  99% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(90deg);
  }
}

@keyframes rotateLeftDark {
  0% {
    transform: rotateY(90deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  99% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(90deg);
  }
}

@keyframes rotateRightDark {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(90deg);
  }
}
