.ThreeCanvas {
  cursor: grab;
  width: 100%;
  overflow: hidden;

  &.fullscreen {
    width: 100vw;
    height: 100vh;
    position: fixed;
    inset: 0;
    z-index: 10;
    canvas {
      border-radius: 0;
    }
  }

  &:active {
    cursor: grabbing;
  }

  canvas {
    border-radius: 1rem;
    min-height: 30rem;
  }
}
