.Nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 0.1rem 0.3rem;
  background-color: var(--color-bg);
  transition: background-color var(--transition-defaults);
  padding: 0.5rem 0;
  box-sizing: border-box;

  & > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    max-width: 45rem;
    margin: 0 auto;

    & > a,
    & .activeLink {
      display: inline-block;
      padding: 0.3em 0.8em;
      vertical-align: middle;
      text-decoration: none;
      font-size: 0.9em;
      border-radius: 500px;
      font-size: 1rem;
    }

    .ActiveLink {
      opacity: 0.6;
    }
  }
}
