.Nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-sizing: border-box;
  padding: 1rem;
  pointer-events: none;

  @media screen and (min-width: 70rem) {
    padding: 1.5rem;
  }

  & > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 auto;

    & * {
      pointer-events: all;
    }
  }

  .Wrapper {
    transition: background-color var(--transition-defaults);
    background-color: var(--color-bg);
    border-radius: var(--rounding-full);
    padding: 0.2rem;
    display: flex;
    flex-direction: row;

    & a {
      display: inline-block;
      padding: 0.3em 0.8em;
      vertical-align: middle;
      text-decoration: none;
      font-size: 0.9em;
      border-radius: 500px;
      font-size: 1rem;
    }

    .ActiveLink {
      opacity: 0.6;

      &:hover {
        background-color: transparent;
      }
    }
  }
}
