@import "base.css";

html {
  --color-text: #333333;
  --color-bg: #eee;

  --color-text-rgb: 51, 51, 51;
  --color-bg-rgb: 238, 238, 238;

  --transition-defaults: 250ms ease;

  padding: 2rem;
  font-family: "Work Sans Variable", sans-serif;

  /* Color Scheme */
  background-color: var(--color-bg);
  color: var(--color-text);
  transition: color var(--transition-defaults),
    background-color var(--transition-defaults);

  &.dark {
    --color-text: #fafafa;
    --color-bg: #222222;

    --color-text-rgb: 250, 250, 250;
    --color-bg-rgb: 34, 34, 34;
  }
}

nav {
  position: fixed;
  top: 2rem;
  right: 2rem;

  a,
  span {
    padding: 0.4em;
  }
}
