@import "reset.css";
@import "muser.css";
@import "satoshi.css";

body {
  --content-max-width: 50rem;
  --transition-defaults: 250ms ease;
  --rounding-medium: 0.8rem;

  --color-text: #3b3f45;
  --color-text-rgb: 59, 63, 69;

  --color-bg: #ede5d6;
  --color-bg-rgb: 237, 229, 214;

  &.dark {
    --color-text: #d9d1c1;
    --color-text-rgb: 217, 209, 193;

    --color-bg: #2f3338;
    --color-bg-rgb: 47, 51, 56;
  }

  background-color: var(--color-bg);

  @media (prefers-color-scheme: light) {
    background-color: var(--color-bg);
  }

  @media (prefers-color-scheme: dark) {
    background-color: var(--color-bg);
  }

  /* --breakpoint-small: 600px; */
  /* --breakpoint-medium: 11000px; */

  font-family: "Work Sans Variable", sans-serif;
  font-size: 1.1em;

  color: var(--color-text);
  transition: color var(--transition-defaults),
    background-color var(--transition-defaults);

  padding: 0rem 8rem;

  @media screen and (max-width: 600px) {
    padding: 6em 0em;
  }
}

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

::selection {
  background: var(--color-text);
  color: var(--color-bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Satoshi", sans-serif;
}

h1 {
  font-size: 2rem;
}

footer {
  width: 100%;
  padding: 3rem;
  opacity: 0.3;
  font-size: 0.8rem;
}

a {
  color: var(--color-text);
  transition: color var(--transition-defaults);

  &:hover {
    text-decoration: none;
    opacity: 1;
  }
}

article {
  max-width: var(--content-max-width);
  margin: auto;
  padding: 2rem;

  @media screen and (max-width: 600px) {
    padding: 0 1.5rem;
  }
}

p {
  max-width: 40em;
  margin: 1em 0;
}

span.description {
  opacity: 0.7;
  font-style: italic;
}

figure {
  max-width: 36em;
  margin: 2em 1em;
  margin-left: 2em;

  @media screen and (max-width: 600px) {
    margin: 1em 0;
  }

  img {
    max-width: 100%;
  }
}

figcaption,
.figcaption {
  display: inline-block;
  opacity: 0.5;
  margin-left: 1em;
  margin-top: 1em;
  font-style: italic;
}

.button {
  display: inline-block;
  text-decoration: none;
  padding: 0.2em 0.8em;
  margin: 0.5em;
  border-radius: 100px;
  background-color: rgba(var(--color-text-rgb), 0.8);
  color: var(--color-bg);
  font-size: 0.9em;
  font-weight: 500;

  transition: background-color var(--transition-defaults),
    color var(--transition-defaults);

  &:hover {
    background-color: rgba(var(--color-text-rgb), 0.7);
  }

  &:active {
    background-color: rgba(var(--color-text-rgb), 1);
  }
}

.dark .button {
  background-color: rgba(var(--color-text-rgb), 0.8);

  &:hover {
    background-color: rgba(var(--color-text-rgb), 1);
  }

  &:active {
    background-color: rgba(var(--color-text-rgb), 0.7);
  }
}

.hero {
  object-fit: cover;
  width: 100%;
  margin: -100px auto auto;
  border-radius: 1rem;
  max-width: 1600px;
  overflow: hidden;
  margin-bottom: 2rem;
  --aspect-ratio: (1.95);

  @media screen and (max-width: 600px) {
    border-radius: 0;
    margin-left: -1.5rem;
    width: 100vw;
  }
}

.MainPage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and (min-width: 1000px) {
    flex-direction: row;
  }
}
