:root {
  --font-titles: "Satoshi", sans-serif;
  --font-body: "Supreme-Variable", sans-serif;

  font-family: var(--font-body);
}

::selection {
  background: var(--color-text);
  color: var(--color-bg);
}

p {
  max-width: 40em;
  margin: 1rem 0;
}

i {
  font-style: italic;
}

ul,
ol {
  margin-top: 0.5rem;
}

li {
  margin-top: 0.3rem;
}

li::marker {
  color: rgba(var(--color-text-rgb), 0.5);
  transition: color var(--transition-defaults);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1rem;
  font-family: var(--font-titles);
  font-weight: 500;
  font-optical-sizing: auto;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.83em;
}

blockquote {
  padding-left: 1rem;
  border-left: 2px solid var(--color-secondary);
}

/* Links */
a {
  color: var(--color-text);
  transition: color var(--transition-defaults);

  &:hover {
    text-decoration: none;
    opacity: 1;
  }
}

/* Tables */
table {
  margin-top: 1.5rem;
  border-spacing: 0px;
  border-collapse: collapse;
}
table td,
table th {
  padding: 0.5rem;
  border: 1px solid var(--color-secondary);
}

/* Forms */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="date"],
input[type="time"],
input[type="color"],
button,
textarea,
select {
  padding: 0.2em 0.5em;
  border: 1px solid var(--color-secondary);
  border-radius: var(--border-radius);
}

fieldset {
  margin-top: 1.5rem;
  border: 1px solid var(--color-secondary);
}

/* Misc */
.description {
  opacity: 0.7;
  font-style: italic;
  margin-bottom: 0.5rem;
}

figure {
  max-width: 36em;
  margin: 2em 1em;
  margin-left: 2em;

  @media screen and (max-width: 600px) {
    margin: 1em 0;
  }

  img {
    max-width: 100%;
  }
}

figcaption,
.figcaption {
  display: inline-block;
  opacity: 0.5;
  margin-left: 1em;
  margin-top: 1em;
  font-style: italic;
}
