.Nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: var(--z-top);
  box-sizing: border-box;
  padding: var(--space-sm);
  pointer-events: none;
  font-size: 0.9rem;
  font-weight: 500;

  @media (min-width: 40rem) {
    padding: var(--space-md);
  }

  & > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 auto;

    & * {
      pointer-events: all;
    }
  }

  .Wrapper {
    background-color: var(--color-bg);
    border-radius: var(--rounding-full);
    padding: var(--space-xs);
    display: flex;
    flex-direction: row;
    align-items: center;

    .ActiveLink {
      opacity: 0.6;

      &:hover {
        background-color: transparent;
      }
    }
  }
}
