.ColorSchemeToggleContainer {
  cursor: pointer;
  padding: 8px;
  display: block;
  margin: 0;
  line-height: 0;

  /* Override default rounding */
  --rounding-medium: 500px;
}

#ColorSchemeToggle {
  appearance: none;
  -webkit-appearance: none;

  background-color: var(--color-bg);
  border-radius: 999px;
  border: 2px solid var(--color-text);
  width: 18px;
  height: 18px;
  transition: border var(--transition-defaults);
  position: relative;
  cursor: pointer;

  &::after,
  &::before {
    content: " ";
    display: block;
    width: 14px;
    height: 14px;
    position: absolute;
    inset: 0px;
    transition:
      transform var(--transition-defaults),
      background-color var(--transition-defaults);
  }

  &::before {
    width: 7px;
    background-color: var(--color-text);
    border-radius: 999px 0 0 999px;

    animation: flipLight 0s step-end forwards;
  }

  &::after {
    background-color: var(--color-bg);
    border-radius: 999px;
    transform: scaleX(0.4);

    animation: rotateLight 0s ease-in-out forwards;
  }
}

:global(.dark) #ColorSchemeToggle {
  background-color: var(--color-text);

  &::before {
    background-color: var(--color-bg);

    animation: flipDark 0s step-end forwards;
  }

  &::after {
    background-color: var(--color-text);

    animation: rotateDark 0s ease-in-out forwards;
  }
}

.loaded #ColorSchemeToggle {
  &::before {
    animation-duration: 0.15s;
  }
  &::after {
    animation-duration: 0.3s;
  }
}

// A separate animation for each theme is needed so a change of theme will trigger a new animation
@keyframes rotateDark {
  0% {
    transform: scaleX(0);
  }
  50% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}

@keyframes flipDark {
  0% {
    transform: none;
  }
  100% {
    transform: translate(100%) rotate(180deg);
  }
}

@keyframes rotateLight {
  0% {
    transform: scaleX(0);
  }
  50% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}

@keyframes flipLight {
  0% {
    transform: translate(100%) rotate(180deg);
  }
  100% {
    transform: none;
  }
}
