.MeshSelect {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  justify-content: center;
  padding: 1rem;

  button {
    cursor: pointer;
    background-color: rgba(var(--color-text-rgb), 0);
    width: 3rem;
    transition: background-color var(--transition-defaults);
    padding: 0.3em;
    border-radius: var(--rounding-medium);
    border: 0;

    &:hover {
      background-color: rgba(var(--color-text-rgb), 0.15);
    }

    &.selected {
      background-color: rgba(var(--color-text-rgb), 1);
    }

    :global(.dark) &.selected {
      background-color: rgba(var(--color-text-rgb), 0.8);
    }
  }
}
